table{
  font-size: 1.2rem;
  border: 2px solid ;
  border-collapse: collapse;
}
th{
  border: 2px solid;
  padding: 10px;
  text-align: center;
  background-color: #f0f0f0;
}

td{
  border: 2px solid;
  padding: 10px;
}
